<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
<h2>Converter</h2>
<p>Name: <span th:text="${name}">Martin</span></p>
</br>
<p>Height in cm: <span th:text="${height}">180</span></p>
<p>Height in inches: <span th:text="${heightInInch}"></span></p>
</br>
<p>Weight in kg: <span th:text="${weight}">90</span></p>
<p>Weight in pounds: <span th:text="${weightInPound}"></span></p>
</body>
</html>